.mangaListPage {
    max-height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mangaListPage::-webkit-scrollbar {
    display: none;
}

.listpage {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow-y: hidden;
}

.content{
    flex-grow: 1;
    padding-bottom: 70px;
    overflow-y: hidden;
}