.page {
    flex-grow: 1;
    margin:0;
    height: 100%;
}

.content {
    flex-grow: 1;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.banner {
    width: calc(100vw - 200px);
    aspect-ratio: 6/1;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description {
    margin-top: 20px;
    margin-bottom: 20px;
}


.lists {
    /* Здесь вы можете добавить стили для списков */
}

.listlink {
    color: #585123;
}



